.section-serv{
    min-height: 100vh;
}

.services {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    height: 100%;
    margin: 0 14rem;
    margin-top: 10rem;
    gap: 5rem;
}

.services-service{
    padding: 2rem;
}

.services-service:nth-of-type(2) {
    background-color: var(--primary-color);
    .services-service-description {
        color: #fff;
      }
}

.services-service-title span {
    color: #fff;
}

.services-service-description {
    color: var(--primary-color);
      margin-bottom: 2rem;
}

.services-service-title span {
    color: var(--primary-color);
    font-weight: bolder;
}
.services-service-title h2 {
    font-size: 3rem;
    line-height: 2.5rem;
    margin-bottom: 5rem;
    color: var(--secondary-color);
}


.services-service-title   .description {
    color: var(--primary-color);
    margin-bottom: 2rem;
}

  .services-service-image{
    margin-bottom: 3rem;
  }

  @media screen and (min-width: 280px) and (max-width: 1080px) {
    .services {
      margin: 2rem 0;
      grid-template-columns: 1fr;
      gap: 2rem;
      padding: 0 2rem;
    }
  }